
{% block style %}
    <style>
        .logo {
            width: 60%;
            max-width: 12em;
            min-width: 7em;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            list-style: none;
        }
        ul li::before {
            content: "🦎";
            display: inline-block;
            margin-right: 5px;
        }
        .container {
            word-spacing:normal;
            background-color:#ffffff;
            font-family:Raleway,Arial,sans-serif;
            width: 100%;
            margin: auto;
            padding: 5px;
            min-width: 250px;
            max-width: 800px;
        }

        .footer {
            color: #ff5722;
            text-align: center;
            margin-top:20px;
        }
    </style>
{% endblock %}

<div style="word-spacing:normal;background-color:#ffffff;font-family:Raleway,Arial,sans-serif;width: 100%;margin: auto;padding: 5px;min-width: 250px;max-width: 800px;">
{% block container %}
    
{% endblock %}
</div>
<br>
{% block footer %}
    <div style="word-spacing:normal;background-color:#ffffff;font-family:Raleway,Arial,sans-serif;width: 100%;margin: auto;padding: 5px;min-width: 250px;max-width: 800px; color: #ff5722;text-align: center;margin-top:20px;">
        <hr>
        <p>Smiling Geckos <br> Karina Łukaszewicz-Kaczmarek <br>
            Numer rachunku: 68102049000000820233313238</p>
        <hr>
        <p style="opacity: 0.5;color: gray;">Mail wygenerowany automatycznie, w razie pytań prosimy pisać na <a href="mailto:{{ contact_mail }}">{{ contact_mail }}</a></p>
        <b>SmilingGeckos</b>
    </div>
{% endblock %}